<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>广州明日天气</title>
  </head>

  <body>
    <div class="container-fluid" style="max-width: 72rem;">
      <div class="row">

        <div class="col-sm-4" style="margin-top: 2rem;">

          <div class="row" style="display: flex;justify-content: center;align-items: center;">

            <p>
              <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                城区
              </button>
            </p>

            <div class="collapse" id="collapseExample">

              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="justify-content: center;align-items: center;">
                {% for areas in area_data %}
                <div class="btn-group" role="group" aria-label="First group">
                  {% for each in areas %}
                  <button type="button" class="btn btn-light" name="area" onclick="location.href='/{{each}}'">{{each}}</button>
                  {% endfor %}
                </div>
                {% endfor %}
              </div>

            </div>

          </div>

          <div class="row" style="display: flex;justify-content: center;align-items: center;">

            <div class="card" style="width: 18rem;margin-top: 1rem;">
              <div class="card-body">
                <h5 class="card-title"><strong>{{area}}</strong></h5>
                <p class="card-text">
                  <strong>气温</strong>：{{weather_data[1]}}</br>
                  <strong>天气</strong>：{{weather_data[0]}}</br>
                  <strong>风力</strong>：{{weather_data[2]}}
                </p>
              </div>
            </div>

          </div>

          <div class="row" style="display: flex;justify-content: center;align-items: center;">

            <div class="card" style="width: 18rem;margin-top: 1rem;">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <h5 class="card-title"><strong>紫外线指数</strong>：{{live_index['uv'][0]}}</h5>
                  <p class="card-text">
                    {{live_index['uv'][2]}}
                  </p>
                </li>
                <li class="list-group-item">
                  <h5 class="card-title"><strong>穿衣指数</strong>：{{live_index['clothes'][0]}}</h5>
                  <p class="card-text">
                    {{live_index['clothes'][2]}}
                  </p>
                </li>
                <li class="list-group-item">
                  <h5 class="card-title"><strong>空气污染扩散指数</strong>：{{live_index['air'][0]}}</h5>
                  <p class="card-text">
                    {{live_index['air'][2]}}
                  </p>
                </li>
              </ul>
            </div>

          </div>

        </div>

        <div class="col-sm-8" style="margin-top: 2rem;">

          <canvas id="WeatherChart"></canvas>

          <div class="table-responsive" style="margin-top: 2rem;">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>时间</th>
                  <th>天气</th>
                  <th>温度</th>
                  <th>风向</th>
                  <th>风力</th>
                </tr>
              </thead>
              <tbody>
                {% for col in detail_data %}
                  <tr>
                    {% for row in col %}
                      <td>{{row}}</td>
                    {% endfor %}
                  </tr>
                {% endfor%}
              </tbody>
            </table>
          </div>
        </div>

    </div>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <script src="/static/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/1.0.5/push.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/1.0.5/serviceWorker.min.js"></script>
    <script>
      var lineChartData = {
        labels: ['2时', '5时', '8时', '11时', '14时', '17时', '20时', '23时'],
        datasets: [{
          label: '温度（℃）',
          borderColor: '#007bff',
          backgroundColor: '#007bff',
          fill: false,
          data: ["{{detail_data[0][2].replace('℃','')}}", "{{detail_data[1][2].replace('℃','')}}", "{{detail_data[2][2].replace('℃','')}}", "{{detail_data[3][2].replace('℃','')}}", "{{detail_data[4][2].replace('℃','')}}", "{{detail_data[5][2].replace('℃','')}}", "{{detail_data[6][2].replace('℃','')}}", "{{detail_data[7][2].replace('℃','')}}"],
          yAxisID: 'y-axis-1',
        }]
      };

      window.onload = function() {
        var ctx = document.getElementById('WeatherChart').getContext('2d');
        window.myLine = Chart.Line(ctx, {
          data: lineChartData,
          options: {
            responsive: true,
            hoverMode: 'index',
            stacked: false,
            title: {
              display: true,
              text: '广州{{area}} 明日24小时气温'
            },
            scales: {
              yAxes: [{
                type: 'linear',
                display: true,
                position: 'left',
                id: 'y-axis-1',
                ticks: {
                  min: 10,
                  max: 35,
                  stepSize: 5,
                  callback: function(value, index, values) {
                        return value + '℃';
                  }
                }
              }]
            }
          }
        });
      };
    </script>

    <script>
    function notify() {
        Push.create('明日天气 ( 广州{{area}} )', {
            body: '{{weather_data[0]}}\n{{weather_data[1]}}',
            link: '/#',
            requireInteraction: true,
            onClick: function () {
                window.focus();
                this.close();
            },
            vibrate: [200, 100, 200, 100, 200, 100, 200]
        });
    }

    $(document).ready(function() {
        notify();
    });
    </script>

  </body>
</html>
